**/__pycache__/
/.idea/
.ipynb_checkpoints/

# ignore caffe model
/models/caffe_model/*
!/models/caffe_model/README.md

# ignore tensorflow model
/models/tf_model/*
!/models/tf_model/README.md

/mpi_inf_3dhp/*
mpi_inf_3dhp.zip
